*{
  /* outline: green  solid !important; */
  overflow-x: hidden;
}
.general-claims{
    /* padding: 1rem 8rem; */
}
.claims-header{
    display: none;
    justify-content: space-between;
    align-items: center;
}
.sign-update{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.myclaims h4{
    margin-top: 3rem;
}
.claim-form{
    padding: 2rem 5rem;
    box-shadow: 0px 4px 20px rgba(1, 17, 82, 0.1);
    border-radius: 12px;
}
.claim-type{
    display: grid;
    gap: 0.5rem;
    margin-bottom: 2rem;
}
.claim-type input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #A2A4A5B8
}
.claim-notice{
    display: flex;
}
.claim-submit button{
    width: 100%;
    padding: 1rem;
}
.claim-type select {
    height: 3.5rem;
    border-radius: 10px;
    border: 1px solid #A2A4A5B8;
    width: 90%;
}
.claim-report button{
    padding: 1rem 5rem;
    line-height: 1;
    font-size: 16px;
    margin-bottom: 2rem;
    font-weight: 500;
    border: 1px solid rgba(162, 164, 165, 0.72);
    border-radius: 12px;
    width: 49%;
}
.button1 .active {
    border: 1px solid #FF9C26;
    border-radius: 4px;
    background-color: #fdfaf6;
    color: black;
    cursor: pointer;
}
.button2{
    background-color: white;
    color: #C0C3C4;
}
.claim-notice p{
    font-size: 12px;
    display: grid;
    margin-left: 0.5rem;
}
.claim-track{
    display: block;
    padding: 1rem 16rem;
}
.describe{
    height: 6rem;
}
.pin-message{
    text-align: center;
    padding: 10rem;
}
.bell{
    margin-top: 2rem;
}


/* pinpassword */
.form-group{
    display: grid;
}
.password-form{
    padding-top: 2rem;
    padding: 2rem 16rem;
}
.password-form form{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(1, 17, 82, 0.1);
    border-radius: 12px;
    padding: 3rem 5rem;
}
.form-group label{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}
.form-group input{
    border: 1px solid rgba(0, 7, 15, 0.12);
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(1, 17, 82, 0.1);
    border-radius: 12px;
    width: 100%;
}
.password-form button{
    border-radius: 4px;
display: block;
justify-content: center;
    font-size: 14px;
    font-weight: 600;
    padding: 1rem 8.3rem;
    width: 100%;
    margin-top: 2rem;
}



/* transaction table */
.transaction-table{
    width: 100%;
    border: 1px solid #003DC90D;
    background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(1, 17, 82, 0.15);
border-radius: 16px;
padding-bottom: 1rem;
margin-top: 3rem;
}
.transaction-table tr th{
    padding: 1rem;
    font-size: 16px;
    border-bottom: 1px solid #003DC90D;
}
.ref{
    font-weight: 100;
}

/* media screens */
@media screen and (max-width: 500px) {
    .claim-track{
        padding: 2rem;
    }
    .claim-submit{
        margin-top: 2rem;
    }
    .claim-report{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .claim-report button{
        padding: 1rem 14rem;
        width: auto;
    }
    .password-form{
        padding: 1rem 2rem;
    }
    .password-form button{
        padding: 1rem 1rem;
    font-size: 12px;
    font-weight: 600;
    }
}
@media screen and (max-width: 767px) and (min-width: 501px){
.claim-track{
    padding: 2rem 8rem;
}
.claim-submit{
    margin-top: 2rem;
}
.password-form{
    padding: 2rem 4rem;
}
}
@media screen and (max-width: 924px) and (min-width: 768px){
.claim-track{
    padding: 2rem 8rem;
}
.claim-submit{
    margin-top: 2rem;
}
.password-form{
    padding: 2rem 10rem;
}
}
@media screen and (max-width: 1200px) and (min-width: 925px){
.claim-track{
    padding: 2rem 10rem;
}
.claim-submit{
    margin-top: 2rem;
}
.password-form{
    padding: 2rem 12rem;
}
}
@media screen and (min-width: 1201px){
.claim-track{
    padding: 2rem 10rem;
}
.claim-submit{
    margin-top: 2rem;
}
.password-form{
    padding: 2rem 14rem;
}
}