.general-claims{
    padding: 1rem 8rem;
}
.claims-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign-update{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.myclaims h4{
    margin-top: 3rem;
}
.claim-form{
    padding: 2rem 5rem;
    box-shadow: 0px 4px 20px rgba(1, 17, 82, 0.1);
    border-radius: 12px;
}
.claim-type{
    display: grid;
    gap: 0.5rem;
    margin-bottom: 2rem;
}
.claim-type input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #f8f5f5
}
.claim-notice{
    display: flex;
}
.claim-submit button{
    width: 100%;
    padding: 1rem;
}
.claim-report button{
    padding: 1rem 5.7rem;
    line-height: 0;
    font-size: 16px;
    margin-bottom: 2rem;
    font-weight: 500;
    border: 1px solid rgba(162, 164, 165, 0.72);
    border-radius: 12px;
}
.button1{
    background-color: #FF9C26;
    color: white;
}
.button2{
    background-color: white;
    color: #C0C3C4;
}
.claim-notice p{
    font-size: 12px;
    display: grid;
    margin-left: 0.5rem;
}
.claim-track{
    display: block;
}
.describe{
    height: 6rem;
}
.pin-message{
    text-align: center;
    padding: 10rem;
}
.bell{
    margin-top: 2rem;
}


/* pinpassword */
.form-group{
    display: grid;
}
.password-form{
    padding-top: 2rem;
}
.password-form form{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(1, 17, 82, 0.1);
    border-radius: 12px;
    padding: 3rem 5rem;
}
.form-group label{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}
.form-group input{
    border: 1px solid rgba(0, 7, 15, 0.12);
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(1, 17, 82, 0.1);
    border-radius: 12px;
}
.password-form button{
    border-radius: 4px;
display: block;
justify-content: center;
    font-size: 14px;
    font-weight: 600;
    padding: 1rem 8.3rem;
}



/* transaction table */
.transaction-table{
    width: 100%;
    border: 1px solid #003DC90D;
    background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(1, 17, 82, 0.15);
border-radius: 16px;
padding-bottom: 1rem;
margin-top: 3rem;
}
.transaction-table tr th{
    padding: 1rem;
    font-size: 11px;
    border-bottom: 1px solid #003DC90D;
}
.ref{
    font-weight: 100;
}