.dashboard-content {
    padding: 4rem 0rem;
}

.insurance-type-tab {
    border: 1px solid #898B93;
    border-radius: 10px;
    align-items: center;
    padding: 8px 24px;
    color: #898B93;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.insurance-tab-container {
    display: flex;
    justify-content: space-evenly;
}

.insurance-type-tab:hover {
    background-color: #011152;
    color: white;
}

.insurance-tab-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.tab-box {
    border-radius: 14px;
    width: 355px;
    height: 305px;
    position: relative;
}

.maincontent > div > .insurance-tab-container > .insurance-type-tab {
    font-size: 12px;
    padding: 8px 15px;
}

.maincontent > div > .insurance-tab-content > .tab-box {
    width: 305px;
    height: 295px;
}

.tab-box > div {
    position: absolute;
    bottom: 0;
    width: inherit;
    opacity: 0.5;
    background-color: black;
    color: white;
    padding: 1rem 1rem;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.tab-box > div > h2, .tab-box > div > p {
    color: white;
}

.search-container > .input-group > label {
    border: 0px;
}

.search-container > .input-group > label > svg > path {
    fill: #818588;
}

.search-container {
    padding-bottom: 1.2rem;
}

.dashboard-greetings {
    padding: 0.5rem 0rem;
}

@media only screen and (max-width: 1280px) {
    .maincontent > div > .insurance-tab-container > .insurance-type-tab {
        padding: 8px 10px;
    }

    .insurance-type-tab {
        padding: 8px 13px;
    }

    .tab-box {
        width: 335px;
        height: 285px;
    } 
    
    .maincontent > div > .insurance-tab-content > .tab-box {
        width: 275px;
        height: 255px;
    }
}

@media only screen and (max-width: 1024px) {
    .maincontent > div > .insurance-tab-container > .insurance-type-tab {
        font-size: 10px;
        padding: 8px 6px;
    }

    .tab-box {
        width: 275px;
        height: 245px;
    }

    .insurance-tab-content {
        gap: 10px;
    }

    .insurance-type-tab {
        padding: 8px 8px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 992px) {
    .tab-box > div {
        width: -webkit-fill-available;
    }

    .dashboard-greetings {
        display: block;
    }

    .insurance-tab-container {
        gap: 5px;
    }

    .maincontent > div > .insurance-tab-content > .tab-box {
        width: 200px;
        height: 183px;
    }

    .tab-box > div > h2 {
        display: block;
        font-size: 12px;
    }

    .tab-box {
        width: 255px;
        height: 200px;
    }
}

@media only screen and (max-width: 820px) {
    .tab-box {
        width: 225px;
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .tab-box {
        width: 205px;
        height: 180px;
    }

    .maincontent > div > .insurance-tab-content > .tab-box {
        width: 150px;
        height: 139px;
    }
}

@media only screen and (max-width: 600px) {
    .insurance-tab-container {
        gap: 5px;
    }

    .insurance-type-tab {
        padding: 8px 7px;
        font-size: 10px;
    }

    .tab-box {
        width: 150px;
        height: 145px;
    }

    .insurance-type-tab {
        padding: 8px 8px;
        font-size: 10px;
    }

    .sidbarcollapse {
        grid-template-columns: 0px auto;
    }

    .sidebar {
        background-color: #011152;
        height: 100vh;
        position: relative;
        width: 225px;
        z-index: 99;
    }

    .dashboardlayout {
        grid-template-columns: 0px auto;
    }
}

@media only screen and (max-width: 500px) {
    .tab-box {
        width: auto;
        height: 145px;
    }

    .insurance-tab-content {
        display: grid;
        justify-content: space-evenly;
        margin-top: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    }

    .insurance-tab-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    }
    
}