input{
    padding: 1rem;
    width: 30vw;
    /* border-radius: 10px; */
    color: #373A47E5;
    border: 1px solid #A2A4A5;
}
.in{
    padding-bottom: 1em;
}
.forgot-password a{
    float: right;
    /* margin-top: 1rem; */
    font-size: 14px;
    font-weight: 500;
}
.button button{
    margin-top: 4rem;
    background-color: #FF9C26;
    border: none;
    width: 100%;
    font-weight: 600;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}
/* .sides1 h2{
    margin-top: 7rem;
} */
/* .sides2{
    padding: 16rem 14rem;
} */

.login_error {
    font-size: 13px;
    font-style: italic;
    color: red;
}
/* style added */

.side-edit{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
}
.sides1 > h2 > span {
    display: block;
}
.sides1 > h2 {
    margin-top: 6rem;
}
.sides2 {
    margin: auto 0rem;
}

.input-group {
    border: 0.8px solid #A2A4A5;
    border-radius: 8px;
    overflow: hidden;
    padding: 0rem 0.5rem;
    margin: 1.2rem 0rem;
    display: flex;
    padding-right: 0rem;
}

.input-group > label {
    border-right: 0.8px solid #A2A4A5;
    padding-right: 0.5rem;
    color: rgba(55, 58, 71, 0.89);
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    display: inline-flex;
    margin: auto 0rem;
}

.input-group > label > svg {
    height: 15px;
    margin-right: 0.5rem;
}

.input-group > input, .input-group > input:focus-visible {
    border: 0px;
    outline: 0px;
    padding: 0.8rem 0.5rem;
    color: rgba(55, 58, 71, 0.89);
    vertical-align: middle;
    flex: 1;
}
