.Navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.2rem 0rem;
}

.logocontainer {
    display: flex;
    justify-content: end;
    margin: 1rem 1rem;
}

.navbar-menu {
    display: flex;
    justify-content: space-evenly;
}

.navbar-menu > a {
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    color: white;
}

.navbar-menu > a:active {
    color: white;
}

.address {
    color: #FF9C26;
}

.Navbar-2 {
    display: flex;
    justify-content: space-between;
    padding: 1.15rem 5rem;
    background-color: #011152;
}

.login-button {
    background-color: #FF9C26;
    border-radius: 8px;
    color: white;
    padding: 0.5rem 0.75rem ;
    text-decoration: none;
    margin: 0rem 0.5rem;
}

.register-button {
    border-radius: 8px;
    color: white;
    border: 1px solid white;
    padding: 0.5rem 0.75rem ;
    text-decoration: none;
    margin: 0rem 0.5rem;
}

.login-button > svg {
    vertical-align: bottom;
    padding-right: 0.25rem;
}

.navbar-menu-container {
    margin: auto 0rem;
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 600px) {
    .login-button > svg {
        vertical-align: middle;
    }

    .login-button, .register-button {
        display: block !important;
    }

    .navbar-menu > a {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .logocontainer > svg {
        width: 135px;
    }

    .logocontainer {
        margin: 0.25rem 0rem;
    }

    .navbar-menu > a {
        text-decoration: none;
        padding: 0.35rem 0.75rem;
        color: white;
    }

    .Navbar-2 {
        padding: 0px;
    }
}
