*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   }
   
.sides{
    display: flex;   
}
.side1{
    background-color: #F6F7FD;
}
.side-img{
    width: auto;
    height: 40vh;
    display: block;
   justify-content: center;
   align-items: center;
   text-align: center;
    padding-left: auto;
    padding-right: auto;
}
.column1{
    display: flex;
    justify-content: unset;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: #01071F;
}
.column2{
    /* i commented this out */
    /* background-color: #FDFAF6; */
    border: 1px solid #FF9C26;
    border-radius: 5px;
    padding: 1.5rem;
    /* width: 20rem; */
}
.column3{
    margin-top: 2rem;
    background-color: #FFFFFF;
    border: 1px solid #FF9C26;
    border-radius: 5px;
    padding: 1.5rem;
    /* i commented this out
    width: 20rem;    */
}
.simple-insurance{
    padding: 1.5rem 6rem;
}
h2{
    margin-block-start: 0em;
}
.side2{
    padding: 9rem 14rem;
}
.cust{
    font-size: 10px;
    /* margin-block-start: 0em; */
}
/* i commented this out */
/* h6{
    margin-block-start: 1em;
    margin-block-end: 0.3em;
} */
.unknown{
    display: flex;
    justify-content: space-between;
}

/* i commented this out */

/* .arrow{
    padding-left: 3rem;
    padding-top: 1rem;
} */
.next1{
    background-color: orange;
    width: 2rem;
    height: 0.7rem;
    border-radius: 10px;
}
.next2{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #E8E3DD;
    border-radius: 100%;
    margin-left: 0.5rem;
}
.next-button{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}

    /* My added style */

.column1:hover {
    background-color: #FDFAF6;
}
.account-type-text {
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 400;
    padding: 1.5rem 0rem;
}
.account-type-title {
    font-weight: 700;
    font-size: 29px;
}
.img-customer {
    border: 2px solid #FF9C26;
    border-radius: 4px;
}
.img-customer > svg {
    vertical-align: middle;
    margin: 0.15rem;
    padding: 0.15rem;
}
.img-customer > svg > path {
    fill: #FF9C26;
}
.column1:hover > .img-customer {
    background-color: #FF9C26;
}
.column1:hover > .img-customer > svg > path {
    fill: white;
}
.column-container-title {
    font-size: 16px;
}
.cust {
    color: #4F525D;
    font-size: 12px;
    padding-top: 0.35rem;
}
.arrow > svg > path {
    fill: white;
}
.column1:hover > .unknown > .arrow > svg > path {
    fill: #FF9C26;
}
.unknown {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.arrow{
    margin: auto 0rem;
}
.arrow > svg {
    vertical-align: middle;
}
.sides {
    height: 85vh;
}
.side1 > div > svg {
    margin: 0rem 6rem;
}
.side1 > div {
    margin: 4rem 0rem;
}
.simple-insurance > p {
    padding: 1.1rem 0rem;
    color: rgba(1, 7, 31, 0.6);
}
@media screen and (max-width: 500px) {
.sides{
    display: block;
}
.side2{
    padding: 6rem;
}
.account-type-title{
    font-size: 25px;
}
.account-type-text{
    font-size: 14px;
    line-height: 1.5;
}
.simple-insurance p{
    font-size: 14px;
    line-height: 1.5;
}
.side1 div svg{
    margin: 1rem;
}
}

@media screen and (max-width: 767px) and (min-width: 501px){
    .sides{
        display: block;
    }
    .side2{
        padding: 6rem;
    }
    .account-type-title{
        font-size: 25px;
    }
    .account-type-text{
        font-size: 14px;
        line-height: 1.5;
    }
    .simple-insurance p{
        font-size: 14px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 924px) and (min-width: 768px){
    .side2{
        padding: 9rem 4rem;
    }
    .side1 > div > svg{
         margin: 1rem;
}
.simple-insurance > p {
    font-size: 14px;
    line-height: 1.5;
}
.account-type-text{
    font-size: 14px;
    line-height: 1.5;
}
}
@media screen and (max-width: 1200px) and (min-width: 925px){
    .side2{
        padding: 4rem 4rem;
    }
    .side2{
    padding: 9rem 4rem;
}
.simple-insurance > p{
    font-size: 16px;
    line-height: 1.5;
}
.account-type-text{
    font-size: 16px;
    line-height: 1.5;
}
}

@media only screen and (max-width: 992px) {
    .column2, .column3 {
        padding: 1rem;
    }
}

@media only screen and (max-width: 600px) {
   
}

@media only screen and (max-width: 500px) {

}
