@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Manrope', sans-serif;
    text-decoration: none;
    
    
    
}

.policies{
    overflow-x: hidden;
    width: 100%;
  
}


.policies_container{
    padding: 4.5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
 
    
}

.policies_container h3{
    color: #01071F;
    font-size: 1.8rem;
    font-weight: 600;
    
}

.policies_wrap{
    padding-top: 2.5rem ;    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem , 1fr));
    grid-template-rows: auto auto;
    grid-gap: 2.5rem;
    align-self: center;
}
.insurance_link{ 
    box-sizing: border-box;
    width: inherit;
    height: 18rem;    
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(1, 7, 31, 0.08);
    border-radius: 14px;
    text-decoration: none;
        
}

.insurance_img{
    width: inherit;
    height: 12rem !important;
    border-radius: 14px 14px 0px 40px;
}
.text{
   
    color:#01071F;
    padding: 1rem;

}

.text p{
    padding-bottom: 4px;
    font-size: 13px;
    line-height: 120%;
    color: rgba(1, 7, 31, 0.8);
}

.text h3{
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    color: #FF9C26;
}



@media screen and (max-width: 850px){
    html{
        font-size: 85%;
    }

    .insurance_link{ 
        height: 19rem;               
   
}
}
@media screen and (max-width: 700px){
    html{
        font-size: 85%;
    }
    .policies_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        justify-self: center;
    }
    .insurance_link{ 
        height: 20rem;               
    }
    
    .insurance_img{
        width: 100%;
        height: 14rem !important;
    
    }
}

@media screen and (max-width: 460px){

    html{
        font-size: 65%;
    }
    .insurance_link{ 
        height: fit-content;               
    }
    .policies_wrap{
        width: 100%;
    }
    .policies_container{
        padding: 4.5rem 2rem;
             
     
        
    }
}